/Buttons/nbproject/private/
/Buttons/build/
/Buttons/dist/
/Graphical Tic-Tac-Toe/nbproject/private/
/Graphical Tic-Tac-Toe/build/
/Homes/nbproject/private/
/Auto-Changing-Buttons/nbproject/private/
/Auto-Changing-Buttons/build/
/Networking/nbproject/private/
/Networking/build/
/Networking/dist/
/Databases/nbproject/private/
/Databases/build/
/Chat Server/nbproject/private/
/Chat Server/build/
/Chat Server/dist/
/Test/nbproject/private/
/Test/build/